@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('fonts/OPTIMA.woff') format('woff');
}

@font-face {
    font-family: 'Optima Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Medium'), url('fonts/Optima\ Medium.woff') format('woff');
}

@font-face {
    font-family: 'Optima Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('fonts/OPTIMA_B.woff') format('woff');
}
@font-face {
    font-family: 'Optima Cyr';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Cyr'), url('fonts/optima-cyr.ttf') format('truetype');
}
/*roots and global styles*/
:root{
    --optima-normal: 'Optima', sans-serif;
    --optima-medium: 'Optima Medium', sans-serif;
    --Josefin-Sans: 'Josefin Sans', sans-serif;
    --color-corp: #314385;
    --color-grey: #D9D9D9;
    --background-grey: #F0F0F0;
    --optima-cyr: 'Optima Cyr', sans-serif;
    --shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
body {
    font-family: var(--optima-normal), var(--optima-cyr);
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.ff-josefin{
    font-family: var(--Josefin-Sans);
}
.ff-optima-medium{
    font-family: var(--optima-medium);
}
.fs-section-title{
    font-size: 20px;
}
.ff-optima-cyr{
    font-family: var(--optima-cyr);
}
.text-grey{
    color: var(--color-grey);
}
.text-corp{
    color: var(--color-corp);
}
.bg-corp{
    background: var(--color-corp);
}
.bg-grey{
    background: var(--background-grey);
}
.strocked-text{
    -webkit-text-stroke: 0.5px white;
}
.btn{
    background: var(--color-corp);
    padding: 10px 60px;
    color: white;
    border-radius: 0;
    font-size: clamp(16px, 1.35vw, 28px);
}
.btn:hover {
    background: var(--color-corp);
    color: white;
    text-decoration: underline;
}
.btn-transparent{
    background-color: transparent;
    color: var(--color-corp);
    opacity: 0.6;
    outline: 2px solid var(--color-corp);
}
.btn-transparent:hover{
    opacity: 1;
}
.nav-link{
    text-decoration: underline;
    font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
}
.main-header .navbar-toggler-icon{
    background-image: url('icons/burger-icon.svg');
}
.navbar-toggler-icon{
    background-image: url('icons/burger.svg');
}
.navbar-toggler:focus{
    box-shadow: none;
}
.w-sm-40{
    width: 40%;
}
.w-sm-50{
    width: 50%;
}
.w-lg-90{
    width: 90% !important;
}
.w-lg-80{
    width: 80%;
}
.w-fit-content{
    width: fit-content;
}
.text-balance{
    text-wrap: balance;
}

.box-shadow{
    box-shadow: var(--shadow);
}
/*typography*/
.fs-title {
    font-size: clamp(1.5rem, 0.925rem + 2.875vw, 4.375rem);
}
.fs-title-2{
    font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}
.fs-paragraph{
    font-size: clamp(1.125rem, 0.95rem + 0.875vw, 2rem);
}
.fs-paragraph-2{
    font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1.25rem);
}
.fs-paragraph-3{
    font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
}

.fs-footer-link{
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}
.fs-span{
    font-size: 14px;
}
.fs-span-2{
    font-size: 16px;
}
.fs-icon{
    font-size: 30px;
}

.text-limit{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}
/*styles*/
.main-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}
.main-header .nav-link{
    color: white;
}

.map{
    width: 100%;
    height: 80%;
}
.icon-img{
    width: 100px;
    height: 100px;
}

.dropdown-toggle::after {
    border: none;
    content: "\F282";
    font-family: 'bootstrap-icons';
    font-size: 0.9rem;
    margin-left: 0.3em;
    vertical-align: middle;
}
.servises-info-box{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.h-servises-card{
    height: 430px;
}
.slider-btn-box{
    position: absolute;
    top: -15%;
    right: 0;
}
.number-custom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stic{
    width: 60%;
    height: 3px;
    background: #E5E5E5;
}
.nav-link{
    color: var(--color-corp);
}
.history-slider-btns{
    position: absolute;
    top: 0;
    right: 0;
}
.btn-corp-small{
    border-radius: 6px;
    padding: 5px 35px;
    width: fit-content;
}
.slick-dots li button:before {
    font-size: 10px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--color-corp);
}
/*breackpoints*/
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
    }
}
@media (min-width: 1650px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1420px;
    }
        
}

@media (max-width: 990px) {
    .w-sm-30 {
        width: 50%;
    }
    .map {
        height: 300px;
    }
    .w-sm-fit-content{
        width: fit-content;
    }
    .w-lg-80 {
        width: 100%;
    }
    .lg-transform{
        transform: rotate(90deg);
    }
    .border-info-box {
        border-top: 3px solid var(--color-corp);
        border-left: unset;
    }
    .collapse-dark.show {
        opacity: 1;
    }
        
    .main-header .collapse-dark {
        background: var(--color-corp);
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .collapse-dark .megamenu-link {
        color: white;
    }
    .servises-info-box{
        top: unset;
        transform: unset;
        position: static;
    }
    .sircle{
        height: 150px;
    }
}
@media (max-width: 768px) {
    .h-sm-large {
        height: 350px;
    }
    #my-gallery {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 576px){
    .h-sm-large{
        height: 400px;
    }
    .logo{
        width: 200px;
    }
    .navbar-toggler-icon {
        width: 1.2rem;
        height: 1.2rem;
    }
    .btn{
        padding: 6px 30px;
    }
    .w-sm-30 {
         width: 100%;
    }
    .fs-span-2 {
        font-size: 14px;
    }
    .fs-icon {
        font-size: 25px;
    }
    .footer-logo{
        width: 250px;
    }
    .container-timeline{
        padding: 10px 0px;
    }
    .w-sm-40 {
        width: 100%;
    }
    .h-servises-card{
        height: 330px;
    }
    .sircle{
        height: 100px;
    }
    .history-slider-btns{
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .history-slider-btns i{
        font-size: 35px;
    }
    .fs-paragraph-3.fs-large, .fs-paragraph-2.fs-large{
        font-size: 24px;
    }
    .fs-title-2.fs-large{
        font-size: 30px;
    }
    .nav-link{
        font-size: 18px;
    }
}
@media(max-width: 420px){
    .mt-6 {
        margin-top: 4.2rem;
    }
}